.bash_history
/dir/.cache
/dir/.local
/dir/ksl_pub
/dir/ksl_resources
/dir/.jupyter
/dir/.ipython
/dir/.keras
/dir/resources/*
__pycache__
.ipynb_checkpoints
/dir/.vscode-server
/dir/.ssh
/dir/.dotnet

/dir/cache_dir
/dir/output/roberta-waseda
/dir/results
/dir/runs
/dir/wandb

/dir/yui666a
/dir/yui666a2
/dir/.netrc
/dir/.wget-hsts
/dir/.python_history
/dir/.gitconfig